hydra:
  job_logging: { disabled }       # Disable job logging
  hydra_logging: { disabled }      # Disable Hydra's internal logging
  run:
    dir: ${hydra:runtime.cwd} # set run directory


defaults:
      - executors
      - _self_


source:
      dir: null
      poscar: null
      kpoints: null
      incar: null
      potcar: null

dir:
  prefix: null
  suffix: null
  subdir: null
  overwrite: False


      
loop:
#      - file: incar
#        parameter: ediff
#        interpolation: list      # list, interval
#        val: [ 1.0, 2.0, 3.0]
      - file: null
        parameter: null
        interpolation: null
        val: null

calc:
  functional: PBE
  pseudo:
    variant: null # 'sv_GW'  # '' for standard, 'sv_GW' for 'Ti_sv_GW'; null for from input


executor: null

